.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  font-size: 2em;
  color: var(--primary);
  margin-bottom: 20px;
}

.pagination .active {

  display: flex;
  align-items: center;
  color: black;
  background-color: transparent;
}

.pagination-icon {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.713);
  margin-top: 5px;
  background-color: transparent;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 40px;
}

.logo-img {
  width: 100px;
  /* Ajusta el tamaño del logo según tus preferencias */
  height: auto;
  /* Ajusta la altura automáticamente para mantener la relación de aspecto */
  margin-right: 10px;
  /* Opcional: agrega un espacio entre el logo y el nombre de la aplicación */
}


.app-name {
  font-size: 36px;
  /* Tamaño del nombre de la aplicación */
  color: #00ADB5;
  /* Color del texto */
}

.product-list {
  display: grid;
  grid-template-columns: 270px auto;
  background-color: var(--bg-color);
  width: 100%;
  /* Ocupa todo el ancho disponible */
  height: 100%;
  /* Ocupa todo el alto disponible */
  overflow: auto;
  /* Agrega barra de desplazamiento si el contenido es demasiado largo */
}

.product-list ul {
  padding: 0;
  gap: 8px;
  padding: 0 15px;
}


.product-item {
  width: 100%;
  min-height: 200px;
  margin-bottom: 8px;

  border: 1px solid var(--secondary);
  border-radius: 6px;
  display: flex;
  /* Usa flexbox para organizar el contenido */
  align-items: flex-start;
  /* Centra verticalmente el contenido dentro del contenedor */
  background-color: #fff;
  text-decoration: none;
  transition: all .3s;
}



.product-item:hover {
  box-shadow: 1px 1px 5px var(--primary);
  transform: translateY(1px);
  border: 1px solid var(--primary);
}

.product-card {
  width: 100%;
  min-height: 200px;
  border-radius: 6px;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  text-decoration: none;
  transition: all .2s;
}

.product-item img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin: 0;
  /* Añade un espacio entre la imagen y el contenido de la derecha */
}

.product-item h3 {
  font-size: 18px;
  color: #393E46;
  /* Texto gris oscuro */
  margin: 0;
  background-color: #fff;
}

.product_category {
  margin-bottom: 5px;
  color: var(--primary);
}


.product-info {
  flex: 1;
  height: 100%;
  padding: 0 20px;
  background-color: #fff;
  /* Permite que el contenido de la información ocupe todo el espacio restante */
}

.product-orders {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0;
  background-color: #fff;
}

.product-price {
  font-weight: 600;
  color: #393e46;
  background-color: #fff;
  margin: 0;
}

.product-stock {
  font-size: 1em;
  color: gray;
  background-color: #fff;

}

.product-shipping {
  font-size: .9em;
  color: green;
  background-color: #fff;

}

.icon-diamont {
  font-size: 1em;
  margin-top: 4px;
  color: rgb(155, 155, 155);
  background-color: #fff;

}

.product-description {
  font-size: 1em;
  color: #393E46;
}

.menu_search {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.accordion-header {
  margin: 0;
}

.accordion_body {
  display: flex;
  flex-direction: column;
}

.category_input {
  margin: 0 10px;
}

.accordion_price {
  display: flex;
}

.accordion_price input {
  width: 100%;
  margin: 0 5px;
  text-align: center;
}

.btn_fav {
  width: 50px;
  height: 50px;
  color: rgba(255, 0, 0, 0.386);
  font-size: 2em;
  border: none;
  background-color: transparent;
  transition: all .3s ease;
}

.btn_fav:hover {
  color: rgba(255, 0, 0, 0.712);

}