/* ProductList.css */
/* ProductList.css */
.pagination {
  display: flex;
  justify-content: center; /* Centra las opciones horizontalmente */
}

.pagination a {
  text-decoration: none;
  font-size: 24px; /* Tamaño de fuente de las flechas */
  color: #00ADB5; /* Color de las flechas */
  margin: 0 10px; /* Espacio entre las flechas */
  cursor: pointer;
}
.app-header {
  display: flex;
  align-items: center;
  padding: 40px;
}

.logo-img {
  width: 100px; /* Ajusta el tamaño del logo según tus preferencias */
  height: auto; /* Ajusta la altura automáticamente para mantener la relación de aspecto */
  margin-right: 10px; /* Opcional: agrega un espacio entre el logo y el nombre de la aplicación */
}


.app-name {
  font-size: 36px; /* Tamaño del nombre de la aplicación */
  color: #00ADB5; /* Color del texto */
}
.product-list {
  background-color: #393E46;
  padding: 20px;
  border: 1px solid #00ADB5;
  border-radius: 5px;
  position: fixed; /* Fija el elemento en la pantalla */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 100%; /* Ocupa todo el alto disponible */
  overflow: auto; /* Agrega barra de desplazamiento si el contenido es demasiado largo */
}

.product-list h2 {
  font-size: 24px;
  color: #00ADB5; /* Texto turquesa */
  margin-bottom: 20px;
}

.product-item {
  background-color: #AAD8D3; /* Fondo verde claro */
  border: 1px solid #00ADB5; /* Borde turquesa */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex; /* Usa flexbox para organizar el contenido */
  align-items: center; /* Centra verticalmente el contenido dentro del contenedor */
}

.product-item img {
  max-width: 10%;
  height: auto;
  margin-right: 10px; /* Añade un espacio entre la imagen y el contenido de la derecha */
}

.product-item h3 {
  font-size: 18px;
  color: #393E46; /* Texto gris oscuro */
  margin: 10px 0;
}

.product-item p {
  font-size: 14px;
  color: #393E46; /* Texto gris oscuro */
  margin: 5px 0;
}

.product-info {
  flex: 1; /* Permite que el contenido de la información ocupe todo el espacio restante */
}


